{
  "users": {
    "theo": {
      "displayName": "Théo",
      "role": "viewer"
    },
    "pierre": {
      "displayName": "Pierre",
      "role": "viewer"
    },
    "maodan": {
      "displayName": "Maodan",
      "role": "viewer"
    },
    "naeleck": {
      "displayName": "Naeleck",
      "role": "editor"
    },
    "sandra": {
      "displayName": "Sandra",
      "role": "editor"
    },
    "matthieu": {
      "displayName": "Matthieu",
      "role": "editor"
    },
    "melissa": {
      "displayName": "Melissa",
      "role": "viewer"
    },
    "roger": {
      "displayName": "Roger",
      "role": "viewer"
    }
  },
  "defaultRole": "viewer"
}
